c-black = #000
c-black-text = #333
c-gray = #ccc
c-light-gray = #eee
c-white = #fff
c-teal = #08c5be
c-green = #26d747
c-purple = #900070
c-pink = #e92c6c
c-lime = #e7ff29
c-orange = #ff6529
c-twitter = #55acee
c-violet = #7e00ff
c-blue = #0b57ac
