.tq-item
  background linear-gradient(
    30deg,
    rgba(c-pink, 0.05) 5%,
    rgba(c-pink, 0.1) 15%,
    rgba(c-pink, 0.15) 55%,
    rgba(c-pink, 0.22) 55%,
    rgba(c-pink, 0.4) 90%,
    rgba(c-pink, 0.7) 100%
  )
  box-shadow 2px 2px 0.5em rgba(c-black, 0.1)
  padding 0

.tq-quote
  padding 1em
  font-size 1.2em
  line-height 1.4em

@media only screen and (min-width: 50em)
  .tq-container
    display flex
    flex-wrap wrap
    justify-content center
    padding-bottom 5em

  .tq-item
    width 43%
    margin 1em
