body
  background c-purple
  background linear-gradient(
    to right,
    rgba(c-teal, 0.05) 5%,
    rgba(c-teal, 0.1) 15%,
    rgba(c-teal, 0.15) 55%,
    rgba(c-teal, 0.2) 75%,
    rgba(c-teal, 0.25) 90%
  ),
  linear-gradient(
    to bottom right,
    rgba(darken(c-purple,  5%), 0.9) 10%,
    rgba(darken(c-purple,  1%), 0.9) 10%,
    rgba(darken(c-purple,  4%), 0.9) 40%,
    rgba(darken(c-purple,  7%), 0.9) 40%,
    rgba(darken(c-purple, 10%), 0.9) 60%,
    rgba(darken(c-purple, 15%), 0.9) 70%,
    rgba(darken(c-purple, 18%), 0.9) 70%
  )
  color c-white

h1
  f-use-header()
