body
  word-wrap break-word
  overflow-x hidden
  overflow-y scroll
  margin 0 auto
  text-align center
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

main
  display inline-block
  text-align left
  width 100%
  max-width 100em
